@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.01em !important;
  }
  h2 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.01em !important;
  }
  h3 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.01em !important;
  }
  h4 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.01em !important;
  }
  h5 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.01em !important;
  }
}

@layer components {
  .para-large {
    font-size: 18px;
    line-height: 28px;
  }
  .para-medium {
    font-size: 16px;
    line-height: 24px;
  }
  .para-small {
    font-size: 14px;
    line-height: 20px;
  }
  .para-xsmall {
    font-size: 12px;
    line-height: 18px;
  }
  .para-overline {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
  .poppins {
    font-family: "Poppins", sans-serif;
  }
  .inter {
    font-family: "Inter", sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
}

.metamask {
  background-image: url("../public/assets/MetaMask_Fox.svg.png");
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 20%;
}

.App {

  text-align: center;
  background-color: #282c34;
  height: calc(100vh - 64px);
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

.container {
  width: 100%;
}

button {
  background: #246bfd;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}
